.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.bodyset {
    background-color: rgb(26, 126, 219);;
    text-align: center;
    margin: 0px;
}

.screen {
    margin: 15px;
}

.main_menu {
    display: block;
}

.choose_category_menu {
    display: none;
}

.choose_date_menu {
    display: none;
}

.confirm_events_menu {
    display: none;
}

.show_events_menu {
    display: none;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: Georgia, serif;
}

.subtitle {
    color: black;
    font-family: Georgia, serif;
}

p {
    color: black;
    font-weight: bold;
    font-family: Georgia, serif;
}

.buttons {
    display: inline;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    width: 70%;
    height: 35px;
    color: white;
    background-color: rgb(8, 31, 99);
    font-family: Georgia, serif;
    border-radius: 15px;
    border: none;
    font-weight: 600;

    transition: background .1s linear;
}

.buttons:hover {
    background: rgb(7, 85, 130);
}
